.client-2 {
    margin-top: -7px;
    width: 249px;
    height: 123px;
    background: -webkit-linear-gradient(top, #fdfdfd, #e2e2e2);
}

.c2-p p {
    position: relative;
    left: 4px;
    line-height: 25px;
    margin: 10px auto;
    font-size: 12px;
    color: #8c8c8c;
    width: 211px;
}

.c2-red {
    margin: 15px auto;
    color: #fff1f1;
    font-size: 13px;
    background: #c0080d;
    width: 103px;
    height: 32px;
    border-radius: 10px;
}

.c2-red p {
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    /*有宽度才能居中*/
    width: 60px;
}

.register {
    width: 100%;
    height: 660px;
    background-color: #f5f5f5;
}

.register-bx {
    width: 1034px;
    height: 660px;
    background-color: #ffffff;
    margin: 0 auto;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.back {
    position: relative;
    width: 902px;
    height: 414px;
    margin: 0 auto 0;
    padding-top: 70px;
    background-image: url(../images/notlogin.jpg);
    background-position: 0 104px;
    background-repeat: no-repeat;
}

.back a {
    position: absolute;
    bottom: 74px;
    right: 205px;
    width: 168px;
    height: 44px;
}

.back a:hover {
    width: 168px;
    height: 44px;
    /* background-size: 168px 44px; */
    background-image: url(../images/mymusic.png);
    background-position: 0px -278px;
}